
body{
    background-color: #A0BCC2;
}
.barra-navegacion {
    background-color: #205375;
    padding: 0px;
    margin: 0px;
    display: flex;
    color: #fff;
}
.div-logo {
    display: flex;
    flex-wrap: wrap;
}
.div-botones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 28%;
    color: #fff;
}
.div-btn-right {
    width: 58%;
    justify-content: end; 
}
.div-content-nav {
    width: 29%;
    margin-right: 1%;
    flex-wrap: wrap;
}
.nav-boton-left{
    margin-left: 4.5%;
    margin-right: 4.5%;
    text-decoration: none;
    font-size: 28px;
    color: #fff;
}
.nav-boton-right {
    margin-left: 4.5%;
    margin-right: 0%;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
}
.nav-boton-right svg {
    width: 20px;
    height: 20px;
}

/*MAIN1*/
section{
    margin-top: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul.slider1_1 li img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

ul.slider1_2 li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .4s;

}
.slider-auto {
margin: auto;
}

.slider{
    width: 40%;
    height: 200px;
    overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 10s infinite alternate linear;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
.slider, .slider ul, .slider img{
    height: 100vh;
}
}


/*MAIN2*/
.container{
    margin: auto;
    width: 100%;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 100%;
    height: 600px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 0px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }
hr{
    padding: 0.5px;
    margin: 0px;
}
  /*categoria*/

  .categoria-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    
  }
  .categoria-section a {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(185, 211, 234);
    margin: auto;
    width: 18%;
    height: 200px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    transition: 0.3s;
    background-color: rgb(185, 211, 234);
    border-radius: 10%;
  }
  .categoria-section a:hover {
    transition: 0.3s;
    background-color: rgb(94, 149, 198);
  }


  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 100%;
  height: 600px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 600px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 0px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}
hr{
  padding: 0.5px;
  margin: 0px;
}

#slide{
  width: 90%;
  max-width: 1200px;
  margin: auto;

  /* FlexBox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#facebook{
  width: 30px;
  margin-left: 595px;
}
#instagram{
  width: 30px;
  margin-left: 20px;
}
#youtube{
  width: 30px;
  margin-left: 20px;
}
footer{
  background-color: #EFEFEF;
}
#privacidad{
  margin-left: 60px;
}
#ayuda{
  margin-left: 480px;
}
#terminos{
  margin-left: 440px;
}
#contactanos{
  margin-left: 60px;
}
#cookies{
  margin-left: 460px;
}
#info{
  margin-left: 400px;
}
#codi{
  margin-left: 600px;
  background-color: rgb(224, 214, 214);
  border: 5px double black;
  padding: 5px;

}
#retro{
  margin-left: 620px;
}

h1{
  padding-left: 50px;
}
